<h1>Restaurante#home</h1>
<p>Find me in app/views/restaurante/home.html.erb</p>
<br />
<h3>Restaurant Hora</h3>
<%= $test %>
<p><%= link_to "Afisează meniu", 'hora' %></p>
<p><%= link_to "Extrage meniu", 'extrage' %></p>
<p><%= link_to "Extrage meniu 10 ani la fiecare minut", 'extrage10ani' %></p>