<h1>Restaurante#home</h1>
<p>Find me in app/views/restaurante/home.html.erb</p>
<br />
<h3>Restaurant Hora</h3>

<p><%= link_to "Afisează meniu", 'hora' %> | <%= link_to "Extrage meniu acum", 'extrage' %></p>
<p><%= @mesaj_actualizare %></p>

